@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

:root {
	--primary-color: #1f2937;
	--secondary-color: #f9fafb;
}

body {
	font-family: "Roboto Mono", monospace;
}
hr {
	margin: 1.6rem 0rem;
}
/* container */
.container {
	padding-left: 1rem;
	padding-right: 1rem;
}
.container-center {
	max-width: 600px;
	margin: auto;
}

/* Links */
.link {
	text-decoration: none;
	padding: 0.5rem 1rem;
	margin-bottom: 0.4rem;
}
.primary-link {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 0.45rem;
}
.secondary-link {
	color: var(--primary-color);
	border-radius: 0.45rem;
	border: 2px solid var(--primary-color);
}

/* lists */
.list-non-bullet {
	list-style: none;
}
.list-item-inline {
	display: inline;
    padding: 0rem 0.5rem;
}
/* Navigation */

.navigation{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    border-bottom-left-radius: 1.5rem ;
    border-top-right-radius: 1rem ;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .link-active{
    font-weight: bold;
    font-size: 1.01rem;
}
.navigation .link{
    color: var(--secondary-color);
}
.navigation .nav-pills{
    text-align: right;
}